@media only screen and (min-width: 767px) {
  .blog-articles__article.first--article .article-content {
    display: flex;
  }
  .blog-articles__article.first--article .card__meida--inner {
    width: 42.5%;
  }
  .blog-articles__article.first--article .article-card__info {
    width: 57.5%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.blog-articles__article.mb-100 {
  margin-bottom: 50px;
}
@media only screen and (min-width: 991px) {
  .blog-articles__article.mb-100 {
    margin-bottom: 100px;
  }
}
span.article__button--title {
  text-decoration: underline;
  text-underline-offset: 3px;
  letter-spacing: 1px;
  color: rgba(var(--color-foreground));
}

span.article__button--title > svg {
  margin-left: 1rem;
}
.article__meta {
  position: relative;
  display: flex;
}
span.meta__info--item {
  display: flex;
  gap: 10px;
}
.blog-articles__article_area .pagination__list {
    justify-content: center;
}
article.article-card {
    box-shadow: 0 .2rem 1.5rem -.6rem rgba(var(--color-foreground),.15);
    padding: 20px;
}
.blog-articles__article.article h3.post-title {
    font-size: calc(var(--font-heading-size) * 1.9rem);
}
.blog-articles__article  a.blog-readmore-btn {
    text-decoration: none!important;
}
 article.article-card:hover h3.post-title.h4 a {
    text-decoration: underline !important;
    display: block;
    overflow: hidden;
}
a.article-content.motion-reduce {
    display: block;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
.blog-articles__article h3.post-title.h4 {
    font-size: calc(var(--font-heading-size) * 1.9rem);
    text-align: left;
}
.blog-articles__article .article__meta {
    margin-bottom: 0.9rem!important;
}

.main-blog article.article-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 10px;
}
.blog-articles__article .article__meta {
    margin-bottom: 0rem!important;
}
.main-blog a.blog-readmore-btn.button {
    color: rgb(var(--color-button-text)) !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    margin-top: 15px;
}
.main-blog a.blog-readmore-btn.button span.right__btn_svg svg {
    width: 11px;
    height: 11px;
    position: relative;
    top: 0;
    left: 1px;
}
.main-blog .pagination-wrapper {
    margin-top: 19px;
}











